<div id="logo">
    <p>BINGO ALGÉBRICO</p>
</div>

<p>NAVEGAÇÃO</p>
<ul>
    <li id="menuInicio" class="nav-menu-item active" data-target="inicio">
        <div><i class="fas fa-home"></i><a href="#inicio">Início</a></div>
    </li>
    <li id="menuPresets" class="nav-menu-item" data-target="presets">
        <div><i class="fas fa-bolt"></i><a href="#presets">Prontos para Uso</a></div>
    </li>
    <li id="menuTopicos" class="nav-menu-item" data-target="topicos">
        <div><i class="fas fa-pencil"></i><a href="#topicos">Tópicos</a><span class="nav-status"></span></div>
    </li>
    <li id="menuEquacoes" class="nav-menu-item" data-target="equacoes">
        <div><i class="fas fa-compass"></i><a href="#equacoes">Equações</a><span class="nav-status"></span></div>
    </li>
    <li id="menuRestricoes" class="nav-menu-item" data-target="restricoes">
        <div><i class="fas fa-gears"></i><a href="#restricoes">Restrições</a><span class="nav-status"></span></div>
    </li>
    <li id="menuBingo" class="nav-menu-item" data-target="bingo">
        <div><i class="fas fa-table"></i><a href="#bingo">Bingo</a><span class="nav-status"></span></div>
    </li>
    <li id="menuQuestoes" class="nav-menu-item" data-target="questoes">
        <div><i class="fas fa-circle-question"></i><a href="#questoes">Questões</a><span class="nav-status"></span></div>
    </li>
    <li id="menuVisual" class="nav-menu-item" data-target="visual">
        <div><i class="fas fa-palette"></i><a href="#visual">Visual</a><span class="nav-status"></span></div>
    </li>
    <li id="menuCartelas" class="nav-menu-item" data-target="cartelas">
        <div><i class="fas fa-image"></i><a href="#cartelas">Cartelas</a><span class="nav-status"></span></div>
    </li>
    <li id="menuImportExport" class="nav-menu-item" data-target="importexport">
        <div><i class="fas fa-file-import"></i><a href="#importexport">Persistência</a><span class="nav-status"></span></div>
    </li>
    <li id="menuLog" class="nav-menu-item" data-target="log">
        <div><i class="fas fa-list-ul"></i><a href="#log">Log</a></div>
    </li>
</ul>
