* {
    /* Elimina os padrões de toda a pagina, reniciando todos os estilos */
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;

    /* Cores da página */
    --bannerBottonColor: rgba(0,0,125,0.85);
    --bannerTopColor: rgba(0,0,50,0.85);
    --colorDarkBlue: rgb(3, 35, 62);
    --colorGray: rgb(110, 118, 142);
    --colorLightBlue: rgb(100, 176, 242);
    --colorLightGray: rgb(121, 130, 156);
    --colorOffsetWhite: #eee;
    --colorQuasiWhite: rgb(243, 244, 250);
    --colorVeryLightBlue: rgb(100, 176, 242, 0.2);

    /* Transpaências */
    --transparencia_25: rgba(255, 255, 255, 0.25);

    /* Fontes da página */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Variáveis globais associadas ao design da página */
    --sideMenu_Largura: 160px;
}

body {
	/* background: var(--bodyBackgroundImage) #7ba7d3; */
    background-color: var(--colorQuasiWhite);
}

#page {
    height: fit-content;
    width: calc(100% - var(--sideMenu_Largura));

    margin-left: var(--sideMenu_Largura);
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

h2 {
    padding: 15px 20px 24px 20px;

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-clip: text;
    background-image: linear-gradient(to right, var(--bannerBottonColor), var(--bannerTopColor));
    color: transparent;
}