<h2>Bingo</h2>
<hr>
<p class="section-description">Defina os parâmetros para geração automática das questões.</p>
<div id="bingoParamsMount"></div>
<div class="actions-row">
    <button class="botao" id="botaoSalvarParametrosBingo" type="button">Salvar parâmetros</button>
    <button class="botao" id="botaoGerarQuestoes" type="button">Gerar questões</button>
    <button class="botao botao-nav-next" data-next="questoes" type="button">Continuar para Questões <i class="fas fa-arrow-right"></i></button>
</div>
