.topicsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topicCard {
    margin: 10px;
    /* border: 1px solid; */
    border-radius: 7px;
    width: fit-content;
    min-width: 150px;
    max-width: fit-content;

    flex: auto;
    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0px 0px 3px 2px var(--colorOffsetWhite);
    transition: 0.2s;
}

.topicCard:hover {
    box-shadow: 0px 0px 3px 2px var(--colorLightBlue);
}

.topicCard.selected {
    background-color: var(--colorVeryLightBlue);
}

.topicName {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    min-width: 150px;

    text-align: center;
    font-weight: bold;
}

.topicNumberOfQuestions {
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid var(--colorLightGray);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    /* background-color: red; */
}

.topicFooter {
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;
}

.topicStatus {
    font-size: 10px;
    color: var(--colorDarkGray);
}

.editTopicButton {
    border-radius: 50%;
    padding: 3px 3px 3px 3px;
    transition: .25s;
    cursor: pointer;
    color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.editTopicButton:hover {
    background-color: #4CAF50;
    color: #FFF;
}

.deleteTopicButton {
	border-radius: 50%;
    padding: 3px 5px 3px 5px;
	transition: .25s;
	cursor: pointer;
	color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.deleteTopicButton:hover {
    background-color: #EC4646;
	color: #FFF;
}