* {
    /* Elimina os padrões de toda a pagina, reniciando todos os estilos */

    padding: 0;
    margin: 0;
    list-style-type: none;

	/* Imagens */
	--bodyBackgroundImage: url(../imagens/Background.png);
	--bannerBackgroundImage: url(../imagens/Background-Logo.jpg);
    --bannerTopColor: rgba(0,0,100,0.9);
	--bannerBottonColor: rgba(0,0,150,0.9);

    /* Cores da página */
    --colorOffsetWhite: #eee;
    --colorGray: rgb(110, 118, 142);
    --colorLightGray: rgb(121, 130, 156);
    --colorDarkGray: rgb(99, 106, 127);
    --colorLightBlue: rgb(100, 176, 242);

    /* Fontes da página */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Variáveis globais associadas ao design da página */
    --sideMenu_Largura: 200px;
}

body {
	background: var(--bodyBackgroundImage) #7ba7d3;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--colorOffsetWhite);

    padding-top: 5px;
    padding-bottom: 10px;

    background-image: linear-gradient(var(--bannerTopColor), var(--bannerBottonColor)), var(--bannerBackgroundImage);
}

#sideMenu {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: var(--sideMenu_Largura);

    background-color: white;
}

#sideMenu > p {
    padding: 20px 20px 10px 20px;

    font-size: 12px;
    font-weight: bold;
    color: var(--colorGray);
}

#sideMenu > ul {
    display: flex;    flex-direction: column;
}

.menuItem {
    padding: 15px 20px 15px 20px;

    font-size: 16px;
    color: var(--colorGray);
}

.menuItem.active {
    color: var(--colorLightBlue);
}

.menuItem:hover {
    background-color: var(--colorOffsetWhite);
}

.menuItem > div > i {
    width: 20px;
    height: 20px;

    align-items: center;
    margin-right: 12px;
}

#page {
    height: fit-content;
    width: calc(100% - var(--sideMenu_Largura));

    margin-left: var(--sideMenu_Largura);
}

.conteudo {
    display: none;
}

.conteudo.active {
    display: block;
}

.working {
    background-color: red;
}