* {
    /* Elimina os padrões de toda a pagina, reniciando todos os estilos */
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;

	/* Imagens */
	--bodyBackgroundImage: url(../imagens/Background.png);
	--bannerBackgroundImage: url(../imagens/Background-Logo.jpg);
    --bannerTopColor: rgba(0,0,50,0.85);
	--bannerBottonColor: rgba(0,0,125,0.85);

    /* Cores da página */
    --colorOffsetWhite: #eee;
    --colorQuasiWhite: rgb(243, 244, 250);
    --colorGray: rgb(110, 118, 142);
    --colorLightGray: rgb(121, 130, 156);
    --colorDarkBlue: rgb(3, 35, 62);
    --colorLightBlue: rgb(100, 176, 242);
    --colorVeryLightBlue: rgb(100, 176, 242, 0.2);

    /* Transpaências */
    --transparencia_25: rgba(255, 255, 255, 0.25);

    /* Fontes da página */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Variáveis globais associadas ao design da página */
    --sideMenu_Largura: 160px;
}

body {
	/* background: var(--bodyBackgroundImage) #7ba7d3; */
    background-color: var(--colorQuasiWhite);
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--colorOffsetWhite);

    padding-top: 5px;
    padding-bottom: 10px;

    background-image: linear-gradient(var(--bannerTopColor), var(--bannerBottonColor)), var(--bannerBackgroundImage);
}

#sideMenu {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: var(--sideMenu_Largura);

    background-color: white;
}

#sideMenu > p {
    padding: 20px 20px 10px 20px;

    font-size: 12px;
    font-weight: bold;
    color: var(--colorGray);
}

#sideMenu > ul {
    display: flex;    flex-direction: column;
}

.menuItem {
    padding: 15px 20px 15px 20px;

    font-size: 16px;
    color: var(--colorGray);
}

.menuItem.active {
    color: var(--colorLightBlue);
}

.menuItem:hover {
    background-color: var(--colorOffsetWhite);
}

.menuItem > div > i {
    width: 20px;
    height: 20px;

    align-items: center;
    margin-right: 12px;
}

#page {
    height: fit-content;
    width: calc(100% - var(--sideMenu_Largura));

    margin-left: var(--sideMenu_Largura);
}

.conteudo {
    display: none;
}

.conteudo.active {
    display: block;
}

h2 {
    padding: 15px 20px 24px 20px;

    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-clip: text;
    background-image: linear-gradient(to right, var(--bannerBottonColor), var(--bannerTopColor));
    color: transparent;
}

#equacoesDescription {
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    color: var(--colorGray);

}

.equationsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topicsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.equationCard {
    margin: 10px;
    /* border: 1px solid; */
    border-radius: 7px;
    width: fit-content;
    min-width: 150px;
    max-width: fit-content;

    flex: auto;
    display: flex;
    flex-direction: column;

    background-color: white;
    /* box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1); */
    box-shadow: 0px 0px 3px 2px var(--colorOffsetWhite);
    transition: 0.2s;
}

.equationCard:hover {
    box-shadow: 0px 0px 3px 2px var(--colorLightBlue);
}

.equationCard.selected {
    background-color: var(--colorVeryLightBlue);
}

.topicCard {
    margin: 10px;
    /* border: 1px solid; */
    border-radius: 7px;
    width: fit-content;
    min-width: 150px;
    max-width: fit-content;

    flex: auto;
    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0px 0px 3px 2px var(--colorOffsetWhite);
    transition: 0.2s;
}

.topicCard:hover {
    box-shadow: 0px 0px 3px 2px var(--colorLightBlue);
}

.topicCard.selected {
    background-color: var(--colorVeryLightBlue);
}

.renderEquation {
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    min-width: 150px;
    text-align: center;
}

.topicName {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    min-width: 150px;

    text-align: center;
    font-weight: bold;
}

.topicNumberOfQuestions {
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid var(--colorLightGray);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    /* background-color: red; */
}

.equationName {
    margin-left: 5px;
    margin-right: 5px;
    border-top: 1px solid var(--colorLightGray);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.equationFooter {
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;
}

.topicFooter {
    margin: 5px 5px 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 12px;
}

.equationStatus {
    font-size: 10px;
    color: var(--colorDarkGray);
}

.topicStatus {
    font-size: 10px;
    color: var(--colorDarkGray);
}

.editEquationButton {
    border-radius: 50%;
    padding: 3px 3px 3px 3px;
    transition: .25s;
    cursor: pointer;
    color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.editEquationButton:hover {
    background-color: #4CAF50;
    color: #FFF;
}

.editTopicButton {
    border-radius: 50%;
    padding: 3px 3px 3px 3px;
    transition: .25s;
    cursor: pointer;
    color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.editTopicButton:hover {
    background-color: #4CAF50;
    color: #FFF;
}

.deleteEquationButton {
	border-radius: 50%;
    padding: 3px 5px 3px 5px;
	transition: .25s;
	cursor: pointer;
	color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.deleteEquationButton:hover {
    background-color: #EC4646;
	color: #FFF;
}

.deleteTopicButton {
	border-radius: 50%;
    padding: 3px 5px 3px 5px;
	transition: .25s;
	cursor: pointer;
	color: var(--colorLightGray);
    background-color: var(--colorOffsetWhite);
}

.deleteTopicButton:hover {
    background-color: #EC4646;
	color: #FFF;
}